
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="favicon.ico">
    

        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script type="text/javascript" src="Scripts/pdf.js" ></script>
        <script type="text/javascript" src="Scripts/pdf.worker.js" ></script>
        <script type="text/javascript" src="test.js" ></script>         
        
        
        <link href="pdfViewer.css" rel="stylesheet" />
        
        
    </head>
     
    <body ng-app="myApp" ng-controller="pdfViewer_test">
        
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <img src="images/myPhoto.jpg" style="height:80px;80px" class="img img-thumbnail img-circle" />
                </div>
                <div class="col-md-10">
                    <h4>Project developed by Amit Jha: {{title}}</h4> <br />
                    <a  target="_blank" href="https://github.com/amitjha211/PDFViewer/">View Source code on GitHub</a>
                </div>
            </div>
            
            
            <hr style="margin:5px"/>
            
            <div class="row">
                <div class="col-md-3">
                    <ul class="list-group">
                      <li ng-repeat="file in files" class="list-group-item"><a href="javascript:;" ng-click="setFileName(file)" ng-bind="file"></a></li>
                    </ul>
                </div>
                <div class="col-md-9">
                    <pdf-viewer file="currentFile"></pdf-viewer>
                </div>
            </div>
            
        </div>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>

